target/*
.idea/*
target/classes/subscription/dao/EditionDaoImpl.class
target/classes/subscription/dao/ReaderDao.class
target/classes/subscription/dao/ReaderDaoImpl.class
target/classes/subscription/dao/SubscriptionDaoImpl.class
target/classes/subscription/model/Reader.class
target/classes/*
target/generated-sources/*
target/generated-test-sources/*


